*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
/* paleta de colores */

/* general */

body{
        background-color: rgb(255, 255, 255);   
     }

/* header */

.logoContainer{
height: 150px;
}

.logoImagen{
   width: 100px;
   height:100px;
   border-radius: 100px;
}

ul{
    list-style: none;
}

header{
    background-color: rgb(6, 25, 87);
}

nav ul{
    display: flex;
    justify-content:center;
    margin-left: 0px;
}

li a {
    text-decoration: none;
    display: flex;
    color: rgb(0, 0, 0);
  }

header li{
    text-decoration: none;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: outset 5px;
    margin-right: 100px;
    border-radius: 20px;
    font-size: 20px;
}

/* main index */

.tituloPrincipal{
    text-align: center;
    color: rgb(6, 25, 87);
    margin: 50px;
    font-size: 30px; 
}


.tituloPrincipal p{
    color: rgb(0, 0, 0); 
    margin-top: 10px;
}


.banner{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;    
}

.tituloPresentacion{
    margin: 100px;
    text-align: center;
    font-size: 30px;
}
.tituloPresentacion h2{
    margin-bottom: 20px;
    color: rgb(6, 25, 87);
}

.tituloTruequedor{
    margin: 100px;
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 150px;
 }
 .tituloTruequedor h2{
    margin-bottom: 20px;
    color: rgb(6, 25, 87);
    
 }

/* footer index */

footer{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgb(6, 25, 87);
    text-decoration: none;
    color: white;
    font-size: 10px;

}
footer a{
    color: white;
    font-size: 15px;
}

footer img{
    height: 66px;
    border-radius: 40px;
}
footer h3{
    font-size: 15px;
    margin-top: 5px;
}
.terminos{
    display: flex;
align-items: center;
}

.terminos a{
    margin-right: 50px;
    
}

.buenfe{
    margin-left: 20px;
    
}
.redes{
    display: flex;
    margin: 5px;
    padding: 5px;
}

.creador{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}
.copyRight{
    color:white;
    display: flex;
    text-align: center;
    margin-left: 350px;
    justify-items: center;
    margin-top: 30px;
}


/*SECCION BUSCAR TRUEQUE */
.grillaPosteo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.posteo{
    margin-bottom: 200px;
    margin-top: 50px;
}
.contactoGrilla{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    margin-right: 80px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius: 20px;
    
    

}
.contactoGrilla-auto{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-right: 80px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 10px;
    

}
button{
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    padding-bottom: 30px;
  
}
.auto{
    margin-left:0px;
    width: 500px;
}
.funda{
    margin-left:100px;
    width: 300px;
}
.cocheBebe{
    width: 300px;
    margin-left: 100px;
}
.herramientas{
    width: 400px;
    margin-left: 0px;

}
.mueble{
    margin-left: 0px;
}
/* SECCION MI PERFIL*/
.contenedorGrid img{
    width: 50%;
    height: 50%;
} 
.contenedorGrid{
    display: grid;
    grid-template-areas:
    "titulo titulo2"
    "info productos"
    "infoFinal productos"
    "valoracion1 . "
    "valoracion producto2"
    "insignia1 . "
    "insignias producto3";
    grid-template-columns: 30% 60%;
    grid-template-rows: 100px 250px 300px 50px 400px 50px 400px;
    justify-content: center;
    justify-items: center;
    margin-top: 40px;
    
    
}
.truequedorPrincipal{
    grid-area: titulo;
}
.silueta{
    grid-area: info;
}
.datosPersonales{
    grid-area: infoFinal;
}
.productosGrid{
    grid-area: titulo2;
}
.imagenesProductos1{
    grid-area:productos;
}
.imagenesProductos2{
    grid-area: producto2;
}
.imagenesProductos3{
    grid-area: producto3;
}
.valoracion{
    grid-area:valoracion ;
}
.insignias{
    grid-area: insignias;
}
.insignias1{
    grid-area: insignia1;
}


/* Sección de categorías */
.categorias {
    padding: 20px;
    text-align: center;
}

.categorias h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 50px;
}

.listaCategorias {
    list-style: none;
    padding: 0px;
}

.listaCategorias li {
    display: inline-block;
    margin: 20px 15px;
}

.listaCategorias a {
    font-size: 1,5rem;
    color: rgb(6, 25, 87);
    padding: 10px 20px;
    background-color: #fff;
    border: 2px solid rgb(6, 25, 87);
    border-radius: 5px;
    
}

.listaCategorias a:hover {
    background-color: #99ef94;
    color: white;
}

.bannerCategoria img{
    width: 400px;

}
.bannerCategoria{
    margin-bottom: 50px;
    font-size: 1,5rem;
    
}
.bannerCategoria h1{
    color: rgb(6, 25, 87);
}

/* Seccion planes */
.formulario-nombre h1 {
    text-align: center;
    font-size: 36px;
    color: rgb(6, 25, 87);
    margin-top: 20px;
}
.formulario-contacto {
    width: 50%;
    max-width: 600px;
    margin: 30px auto;
    margin-top: 60px;
    padding: 20px;
    background-color: rgb(6, 25, 87);
    border-radius: 8px;
}
.formulario-contacto label {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
}
.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ebe6e6;
    border-radius: 4px;
    font-size: 20px;
    color: #333;
}

.formulario-contacto textarea {
    height: 100px;
}

.planes{
    display: grid;
    grid-template-areas: 
    ". tituloPlan ."
    "plan1 . plan2"
    "plan1 . plan2"
    "imgPlan1 . imgPlan2";
    grid-template-columns: 25% 40% 25% ;
    grid-template-rows: 100px 100px 50px 300px ;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
}

.tituloPlan{
    grid-area: tituloPlan;
    font-size: 35px;
    padding-top: 30px; 
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;
    color: rgb(6, 25, 87);
    transition: all 0.3s ease;
}
.tituloPlan:hover{
    color: rgb(20, 145, 177);
    transform: scale(1.5);
    cursor: pointer;
}
   
.plan1{
    grid-area: plan1;
    font-size: 25px;
    background-color: rgb(6, 25, 87);
    color: #fff;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;

}
.plan2{
    grid-area: plan2;
    font-size: 25px;
    background-color: rgb(6, 25, 87);
    color: #fff;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;

}
.imgPlan1{
    grid-area: imgPlan1;
    width: 90%;

}
.imgPlan2{
    grid-area: imgPlan2;
    width: 90%;
    
}
.eleccionPorcentaje{
    margin: 150px;
}
.eleccionPorcentaje h1{
    color: rgb(6, 25, 87);
    margin-left: 120px;
    font-size: 30px;
    margin-bottom: 50px;
}

.eleccionTitulo{
    color: black;
    transition: all 0.3s ease;
}

.eleccionTitulo:hover{
    color: rgb(20, 145, 177);
    transform: scale(1.1);
    cursor: pointer;
}
.iframeBanner{
    display: flex;
    justify-content: center;
    margin: 200px;
    height: 600px;
 }

 .videoIframe{
    width:100%;
    height: auto;
 }

/* BUENA FE */

.buenaFe{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}
.buenaFe h1{
    padding-bottom: 40px;
    padding-top: 30px;
}
.buenaFe h2{
    padding-bottom: 40px;
    padding-top: 30px;
}
.buenaFe h3{
    padding-bottom: 40px;
    padding-top: 30px;
}

/* Seccion terminos y condiciones*/
.terminosCondiciones{
    font-size: 20px;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}

.terminosCondiciones h1{
    padding-bottom: 40px;
    padding-top: 30px;
}
.terminosCondiciones h2{
    padding-bottom: 20px;
    padding-top: 10px;
}
.terminosCondiciones h3{
    padding-bottom: 40px;
    padding-top: 30px;
}
.terminosCondiciones h4{
    padding-bottom: 60px;
    padding-top: 50px;
}
/* RESPONSIVE MOBILE*/
@media (max-width:500px){
    
}