 // Responsive mobile //
 @media (max-width: 768px) {
    header nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .contenedorGrid {
      grid-template-areas:
        "titulo"
        "titulo2"
        "info"
        "infoFinal"
        "productos"
        "producto2"
        "producto3"
        "valoracion1"
        "valoracion"
        "insignia1"
        "insignias";
      grid-template-columns: 1fr;
      grid-template-rows: repeat(11, auto);
    }
  
    .planes-container {
      flex-direction: column;
      align-items: center;
    }
  
    .formularioContacto,
    .grillaPosteo,
    footer {
      padding: 10px;
    }
  }
  .buenaFe {
    font-size: 20px;
    margin: 40px 15px;
  
    h1,
    h2,
    h3 {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  }
  
  .terminosCondiciones {
    font-size: 20px;
    margin: 40px 15px;
  
    h1 {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  
    h2 {
      padding-top: 10px;
      padding-bottom: 20px;
    }
  
    h3 {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  
    h4 {
      padding-top: 50px;
      padding-bottom: 60px;
    }
  }
  
  .iframeBanner {
    display: flex;
    justify-content: center;
    margin: 200px;
    height: 600px;
  
    .videoIframe {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 500px) {
    .logoImagen {
      padding: 10px;
    }
  
    nav {
      ul {
        flex-direction: column;
        padding-top: 30px;
      }
    }
  
    li {
      a {
        font-size: 20px;
      }
    }
  
    footer {
      flex-direction: column;
      justify-content: center;
  
      .creador {
        margin-top: 100px;
      }
  
      .terminos {
        margin-top: 50px;
      }
    }
  
    .tituloPrincipal,
    .tituloPresentacion,
    .tituloTruequedor {
      font-size: 20px;
    }
  
    .planes {
      margin-top: 300px;
      display: flex;
      flex-direction: column;
  
      .tituloPlan,
      .plan1,
      .plan2 {
        display: none;
      }
    }
  
    .eleccionPorcentaje {
      margin: 0px;
    }
  
    .eleccionTitulo {
      font-size: 5px;
    }
  
    .formulario-contacto {
      width: 90%;
      margin-bottom: 140px;
    }
  
    .iframeBanner {
      display: none;
    }
  
    .grillaPosteo {
      margin-top: 400px;
    }
  
    .pagination {
      display: flex;
      flex-direction: row;
    }
  }